# These are generated when I initialize the sbt
.idea/
soDLA/target/

#perl
src/plugins/

#output dir

test_run_dir/



*.fir
*.json


# These are decided not to be public. 
*.class
*.jar
*.jar
*.zip
*.class
equiv_check/.~lock.equiv_result.ods#
equiv_check/slibs/.vs/slibs/v15/.suo
equiv_check/slibs/.vs/slnx.sqlite
