# These are generated when I initialize the sbt
.idea/
soDLA/target/

#perl
src/plugins/

#output dir

test_run_dir/



*.fir
*.json


# These are decided not to be public. 
*.class
*.jar
*.jar
*.zip
*.class
